@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
  --font-outfit: var(--font-outfit);
  --font-inter-tight: var(--font-inter-tight);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/auth-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
